{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]],
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    ["babel-plugin-styled-components", { "ssr": true }]
  ]
}
