{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "debug": true
    }],
    "stage-0"
  ],
  "plugins": [
    ["babel-plugin-styled-components", { "ssr": true }]
  ],
  "env": {
    "react": {
      "presets": [ "react" ],
      "plugins": [
        ["module-resolver", {
          "root": ["."],
          "alias": {
              "react": "preact-compat",
              "react-dom": "preact-compat"
          }
        }]
      ]
    },
    "preact": {
      "presets": [ "preact" ]
    }
  }
}
